/* General y Fuentes */
h1, h2, h3, .titulo-seccion {
    font-family: 'Alfa Slab One', cursive;
    color: #212529;
}

/* Hero principal */
.hero {
    background: url(https://st4.depositphotos.com/20363444/27085/i/450/depositphotos_270852288-stock-photo-top-view-wristwatch-earrings-decorative.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    min-height: 450px;
    color: white; 
}

/* Lista de Novedades (Izquierda) */
.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-novedades li {
    margin-bottom: 0.5rem;
}

.lista-novedades li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.3rem;
    color: #a0a0a0; /* Gris como en la foto */
    transition: all .2s ease-in-out;
    padding: 5px;
}

/* Hover en la lista */
.lista-novedades li a:hover {
    color: #212529; /* Se vuelve negro al pasar el mouse */
}

/* Imágenes de la lista */
.lista-novedades li a img {
    width: 90px;
    height: 55px;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0.7;
    margin-right: 1.5rem;
    transition: all .2s ease-in-out;
}

.lista-novedades li a:hover img {
    filter: none;
    opacity: 1;
}

/* Caja de Testimonios (Derecha) */
.contenedor-testimonios {
    background-color: #dbdbdb !important; /* Gris idéntico a la maqueta */
    min-height: 350px;
}

.contenedor-testimonios p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #212529;
}

/* Ajuste de los indicadores del carrusel (Las rayitas de abajo) */
.carousel-indicators [data-bs-target] {
    width: 30px;
    height: 4px;
}

/* Footer */
footer {
    background-color: #aaa;
    border-top: 3px solid #dc3545; /* Línea roja/fucsia que se ve abajo de todo */
}

.derecho-text {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 0.9rem;
}
